$mobile-breakpoint: 700px;
$dark-color: #212121;
$dark-border-color: #373836;
$dark-text-color: white;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Avenir', 'proxima-nova', 'Source Sans Pro', Arial,
    sans-serif;
  color: #404040;
  // @include no-select;

  .dark {
    color: white;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1.1;
}

#root {
  height: 100%;
}

.full-width {
  width: 100%;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover {
  transition: opacity 0.8s ease-out;

  &:hover {
    opacity: 0.6;
  }
}

.flex {
  display: flex;

  &--grow {
    flex-grow: 1;
  }

  &--shrink {
    flex-shrink: 1;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--column {
    flex-direction: column;
  }
}

.theme-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
}

.home {
  padding: 100px 0;
  width: 960px;
  margin: 0 auto;

  @media all and (max-width: $mobile-breakpoint) {
    width: auto;
    padding: 50px 20px;
  }

  &__top-heading {
    font-size: 20px;
    margin-bottom: 40px;

    @media all and (max-width: $mobile-breakpoint) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__main-heading {
    font-size: 50px;
    margin-bottom: 40px;

    @media all and (max-width: $mobile-breakpoint) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__ctas {
    margin-bottom: 10px;

    & > div {
      margin: 0 10px;
      width: 250px;
      height: 45px;

      @media all and (max-width: $mobile-breakpoint) {
        width: 100%;
      }
    }

    @media all and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 30px;

      & > div {
        width: auto;
        margin: 10px 0;
      }
    }
  }

  &__subscribe {
    @media all and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }

  &__highlight {
    color: #ff3f81;
  }
}

.screenshot {
  position: relative;
  margin-bottom: 50px;

  @media all and (max-width: $mobile-breakpoint) {
    margin-bottom: 0;
  }

  &__content {
    height: 275px;
    overflow-y: hidden;

    img {
      width: 100%;
    }
  }
}

.titlebar {
  padding: 0 3px;
  background-color: rgb(224, 224, 224);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .dark & {
    background-color: #222222;
  }
}

.titlebar.webkit-draggable {
  -webkit-app-region: drag;
}

.titlebar-stoplight {
  float: left;
  text-align: left;
}

.titlebar:after,
.titlebar-stoplight:after {
  content: ' ';
  display: table;
  clear: both;
}

.titlebar-stoplight:hover svg,
.titlebar-stoplight:hover svg.fullscreen-svg,
.titlebar-stoplight:hover svg.maximize-svg {
  opacity: 1;
}

.titlebar.alt svg.fullscreen-svg {
  display: none;
}

.titlebar.alt svg.maximize-svg {
  display: block;
}

.titlebar-close,
.titlebar-minimize,
.titlebar-fullscreen {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px 4px;
  line-height: 0;
}

.titlebar.webkit-draggable .titlebar-close,
.titlebar.webkit-draggable .titlebar-minimize,
.titlebar.webkit-draggable .titlebar-fullscreen {
  -webkit-app-region: no-drag;
}

.titlebar-close {
  border: 1px solid #e2463f;
  background-color: #ff5f57;
  margin-left: 6px;
}

.titlebar-close:active {
  border-color: #ad3934;
  background-color: #bf4943;
}

.titlebar-close svg {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
  opacity: 0;
}

.titlebar-minimize {
  border: 1px solid #e1a116;
  background-color: #ffbd2e;
}

.titlebar-minimize:active {
  border-color: #ad7d15;
  background-color: #bf9123;
}

.titlebar-minimize svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
}

.titlebar-fullscreen,
.titlebar-maximize {
  border: 1px solid #12ac28;
  background-color: #28c940;
}

.titlebar-fullscreen:active {
  border-color: #128622;
  background-color: #1f9a31;
}

.titlebar-fullscreen svg.fullscreen-svg {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
  opacity: 0;
}

.titlebar-fullscreen svg.maximize-svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
  display: none;
}

.dark {
  scrollbar-face-color: $dark-border-color;
  scrollbar-base-color: $dark-border-color;
  scrollbar-3dlight-color: $dark-border-color;
  scrollbar-highlight-color: $dark-border-color;
  scrollbar-track-color: $dark-color;
  scrollbar-arrow-color: $dark-color;
  scrollbar-shadow-color: $dark-border-color;
  scrollbar-dark-shadow-color: $dark-border-color;

  ::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    background-color: $dark-color;
  }
  ::-webkit-scrollbar-track {
    background-color: $dark-border-color;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: $dark-color;
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: $dark-border-color;
  }
  ::-webkit-resizer {
    background-color: #666;
  }
}

.footer {
  color: #666;
  font-size: 12px;
}
